export(IncrementalAnalysis)
export(fitUnivariableModel)
export(CompareVarSelUniv)
export(plot_incremental_metric)
export(plot_incremental_roc)
export(plot_incremental_survival)
export(plot_predicted_vs_actual_survival)
export(plotROC_from_ci)
export(plotVolcano)
export(runVariableSelectionAndUnivariable)
export(univariableScreen)

S3method(print, sharpener_incremental)

import(dplyr)
import(ggplot2)
import(survival)
importFrom(magrittr, "%>%")
